<br><h4 align='center'>Day 4: "Iles, dépendances" day</h4>
<h3>Petite Terre</h3>
<p>
  <b>A day on a sailboat with Petit Terre "Nature reserve"</b><br>
  <div style='text-align:justify'>
    Archipelago of 2 desert islands located in 20 km in Saint François's southeast, it is managed by the ONF and depends on Désirade island. Petite Terre belonged to a family of famous solicitors expropriated for public purposes. Considered as the wealth of this sea bed, it has for only inhabitants of iguanas, crabs and birds. It was declared nature reserve since 1994. Hunting and fishing are forbidden and the lighthouse of the end of the world is  now a museum of the flora and fauna. Only 4 guards of the ONF live alternately on the Island
  </div>
  <br>
  <ul>
    <li>
      Departure from St-François with Uhaina at 7:15 am<br>
      <!-- tarifs : 80 € par personnes -->
      Lunch: barbecue on the beach.
      Masks and snorkels supplied for the bathing 
    </li>
    <li>
      Privilège croisières at 7:15 am<br>
      <!-- – tarifs : 90 € par personnes -->
      Lunch aboard the boat. Masks and snorkels supplied for the bathing.
    </li>
  </ul>
</p>
<div align='center'>
  <%= light_image_tag('images_visites/Petite_terre.jpg', :width => '200px') %>
</div>