<br><h4 align='center'>Jour 7</h4>
<br>
<p>
  <b>MARIE-GALANTE</b><br>
  Authentic character, Tradition and authenticity.
  <br>
  Boat from Pointe-À-Pitre:
  <ul>
    <li>Gueule Grand Goufre</li>
    <li>Ecomuseum – Habitation Murat</li>
    <li>Père Labat distillery</li>
    <li>Earth of mills</li>
    <li>Syrup « batterie »</li>
  </ul>
  <br><br>
  <div align='center'>
    <%= light_image_tag('images_visites/cascade_ecrevisses.jpg', :width => '200px') %>
  </div>
</p>

