<h4 align='center'>Jour 6</h4>
<p>
	<div class='span3'>
  		<b>LES SAINTES</b><br>
  		Au départ de TROIS RIVIERES <br><br>
		La Maison Créole vous propose des billets AR <br>
		Avec VAL'FERRY <br>
		en vente à la Réception 20 €/Pers. <br>
		Départ à 9h – Retour 16 h <br><br>
	</div>
	<div class='span2'>
		<div align='center'>
      	<%= image_tag('images_visites/Les_saintes.jpg', :width => '200px') %>
    	</div>
	</div>
	<br><br><br><br><br><br><br><br><br>
	Excursions pour la Journée : 54 € /Pers. Sauf le Lundi
	Comprenant le billet AR, la visite de l'île en petite navette (1h environ), l'entrée du Fort Napoléon (visite 1 h environ), un repas créole et une petite heure de baignade avant de rentrer par la bateau de 16 h.
</p>