<br><h4 align='center'>Day 6 : Grande-Terre South</h4>

<p>
  <b>STE ANNE</b> : Le Marché tous les jours le long de la plage
  <br>
  <ul>
    <li>Craft(home-made) Village</li>
    <li>Caravelle Beach</li>
    <li>Beach of the village</li>
    <li>Maritime Boulevard</li>
  </ul>
</p>


<div class='row'>
<p>
  <div class='span3'>
  <b>ST FRANCOIS</b> :
  the Pointe des Châteaux: the East coast beaten by the ocean. <br><br>
  Go up to the Calvary cross.  the point of view is breath-taking
  </div>
  <div class='span2'>
    <div align='center'>
      <%= light_image_tag('images_visites/Pointe_des_Chateaux.jpg', :width => '200px') %>
    </div>
  </div>
</p>
</div>