<h4 align='center'>Jour 1</h4>

<p><b>STE ANNE</b> : Le Marché tous les jours le long de la plage <br></p>
<div class='row'>
<p>
  <div class='span3'>
  <b>ST FRANCOIS</b> :
  La Pointe des Châteaux : La côte est battue par l'Océan. <br><br>
  Montez au calvaire le Point de vue est magnifique
  </div>
  <div class='span2'>
    <div align='center'>
      <%= image_tag('images_visites/Pointe_des_Chateaux.jpg', :width => '200px') %>
    </div>
  </div>
</p>
</div>
<p>
  <b>LE MOULE</b> :<br>
  Commune en plein développement. Beaucoup de commerces, belle promenade sur le front de mer. La mer a de nombreux rouleaux qui font la joie des surfeurs. Visitez la Distillerie DAMOISEAU, puis revenir sur Ste Anne pour une baignade.
</p>