<h4 align='center'>Jour 2</h4>
<p>
  <b>Prenez la Route de La Traversée. </b>
  <br>
  Comme son nom l’indique, c’est la route transversale de Basse-Terre, qui explore une partie du parc national par le nord et dessert certains de ses plus beaux sites, en particulier la cascade aux Ecrevisses ou le Parc zoologique
  Sur un long ruban d’est en ouest de Basse-Terre, généreuse et contrastée, la route de la Traversée se visite en flânant. Aménagée depuis à peine 20 ans, cette véritable perle de la nature nous est offerte et donne l’occasion de multiplier mille promenades. Les circuits pédestres sont variés, les balises très sûres et faciles à repérer.
  Arrêt à La Maison de la Forêt : Entrée libre tous les jours de 9h à 13h15 et de 14h à 16h30. La Maison est fermée le mardi. 
  Ce centre est le fruit de plusieurs années d’efforts consentis par le parc national. Ses administrateurs ont voulu en faire un jardin de lecture consacré aux espèces végétales, à la fois rares et représentatives. La maison a plusieurs objectifs et des axes prioritaires : une véritable exposition pédagogique de la forêt tropicale, sa formation et sa composition, sans accabler le visiteur de termes trop savants.
  Pour appuyer cet apprentissage, la maison de la Forêt est le point de départ de trois sentiers botaniques dont le parcours dure respectivement 15 minutes, 30 minutes et 1 heure. Vous remarquerez que de nombreux arbres adoptent des perspectives rigides, comme si l’esprit de géométrie s’accordait pour lutter contre les manigances du soleil.
  La borne 1 vous laisse admirer, de la passerelle, des arbres aux branches chargées de plantes et la rivière encombrée de roches volcaniques polies par les eaux.
  La borne 2 dévoile un sol parcouru de racines, des rangées de plantules et d’herbes fragiles. Plus haut, en levant la tête, vous reconnaîtrez des arbustes, des balisiers et des fougères arborescentes atteignant 15 m de hauteur. Les arbres s’élèvent, eux, jusqu’à 20 m et plus. Observez les épiphytes, ces plantes qui, comme le lierre, vivent accrochées aux branches ou aux troncs d’autres végétaux, mais sans se nourrir à leurs dépens et sans en être des parasites.
  Aux bornes 3, 4 et 5, vous entendrez le concert éternel des grillons et grenouilles. Les lianes à eau sont accrochées aux branches les plus élevées des arbres. Si vous êtes discret, vous pourrez peut-être apercevoir le coucou manioc, la paruline caféiette, ou la grive trembleuse qui agite ses ailes comme si elle avait froid.
  <br>
  La rivière Bras-David abrite quantité de petites écrevisses, les ouassous. N’hésitez pas à vous y baigner par beau temps.
  Et à La Cascade aux écrevisses : Attention aux nombreux piétons que vous rencontrerez aux abords du site car la route est étroite.
  Ce site, parmi les plus visités de Guadeloupe, est désormais accessible aux personnes à mobilité réduite : le parcours, long de 210 mètres, a été entièrement pavé, la pente a été réduite, un point de vue permet d’admirer la cascade.
  Cette chute d’eau est peu élevée mais elle bénéficie d’un débit très important et au fur et à mesure de votre approche, vous entendrez son grondement. 
  Vous l'atteignez en un quart d’heure de marche à partir de l’entrée du sentier, sous l’ombre bienveillante des arbres. La rivière Corossol, encombrée de rochers indociles, vous accompagne jusqu’à cette cascade, haute d’une dizaine de mètres, qui tombe dans un vacarme étourdissant.
  Attendez vous à une baignade tonifiante grâce à la fraîcheur de l’eau. Par contre, évitez les plongeons du haut de la cascade car le fond du bassin est composé de grosses roches. Des carbets permettent de profiter du site tout au long de la journée.
  A la sortie de la  route de La Traversée prendre à droite, direction Pointe Noire.
</p>
<p>
  <b>POINTE NOIRE :</b><br>
  <div class='span3'>
    <b>Maison du bois</b>:<br>
    Fermeture du 1er au 15 septembre. Ouvert de 9h30 à 17h, sauf le lundi.
  </div>
  <div class='span2'>
    <div align='center'>
      <%= image_tag('images_visites/Maison_du_bois.jpg', :width => '200px') %>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br>
  Gérée par le parc national de la Guadeloupe. Une maison avec son jardin arboretum conçu sur le thème du bois, reconstruite après les dégâts cycloniques. La visite se déroule sous de très belles charpentes traditionnelles. La maison elle-même est en bois du pays : bois rouge carapate, gommier, marbri, résolu, acajou, mahogany. Le circuit est simple, présentant les différents aspects, la composition et la structure du bois. En parcourant ensuite les pièces de la maison, vous découvrez tous les emplois du bois, des jouets d’enfant, des instruments et des outils jusqu’au mobilier finement travaillé en passant par la barque du pêcheur et la roue du charron. 
  Visite guidée de l’arboretum (An Bwa Savan’n), ateliers d’animation (Arti-bwa, Jwe Bwa), muséographie, exposition de mobilier. Le planning d’animation est renouvelé chaque trimestre.
  Restauration sur place, Aux Délices d’essences, ouvert uniquement au déjeuner. Addition moyenne 20 à 25 €. Cuisine de terroir (brochettes d'ouassous à la citronnelle, colombo, brochettes de porc au miel) servie sur une terrasse donnant sur le parc.
  Arts des ïles : Du lundi au vendredi de 9h à 12h30 et de 14h30 à 18h.
  Betty et Jérémy ont installé leur atelier entre mer et montagne à l’entrée de la plage Caraïbe. Leur œuvre est le fruit d’un long travail de recherche et de collecte de matériaux. Ils arpentent les plages et les sommets de Guadeloupe en quête de nouvelles matières ; c’est en effet avec les sables et les terres du pays qu’ils composent leurs tableaux aux multiples couleurs de la Caraïbe. Sans aucun pigment artificiel, leur palette comporte plus de 500 tons et nuances différents. Chaque plage, chaque roche de l’archipel guadeloupéen a trouvé sa place sur une de leurs créations : des verts aux rouges en passant par le bleu, les ocres, les noirs ou les blancs, toutes les couleurs de la nature sont réunies et exposées dans leur atelier. Sables et roches se marient entre eux produisant alors formes, volumes et contrastes de couleurs : cette réussite artistique est le résultant d’une longue expérience dont seuls Betty et Jérémy détiennent le secret et le savoir-faire. Chaque tableau est un étonnant condensé de l’histoire et du patrimoine géologique de la Guadeloupe : micas, fer, coraux, quartz et autres pouzzolanes et latérites sont autant de matières insoupçonnées qui vont prendre vie sous les doigts de l’artiste. Leurs compositions sont largement inspirées du quotidien des Antilles : hommes et femmes mis en scène dans les champs de canne, à la pêche, au marché mais aussi paysages caractéristiques de la région, faits d’îlots, de mornes, de rivages, de saintoises et tant d’autres scènes typiques découvertes au détour du chemin et qui font le charme de la Guadeloupe. Le style est à la fois moderne et contemporain mais il laisse aussi une place aux œuvres plus abstraites et avant-gardistes. L’originalité de la démarche, la finesse du travail ne peuvent vous laisser indifférent. Art des Iles est devenu une étape incontournable de votre séjour antillais : laissez-vous tenter et rapportez dans vos bagages grâce à l'un de leurs tableaux un petit coin de cette Guadeloupe qui passionne tant nos artistes et qui aura su séduire votre cœur.
</p>
<p>
  <div class='span3'>
    <b>Maison du Cacao</b>:<br>
    Ouvert tous les jours, toute l’année de 9h à 17h.
  </div>
  <div class='span2'>
    <div align='center'>
      <%= image_tag('images_visites/Maison_cacao.jpg', :width => '200px') %>
    </div>
  </div>
   En basse saison, il est conseillé de téléphoner avant de se déplacer.
  La Maison du cacao est située au cœur d’une ancienne région cacaoyère. Vous découvrirez l’origine du chocolat ainsi que la culture du cacaoyer au travers d’une visite botanique enrichie par une exposition sur l’histoire du chocolat et sa fabrication artisanale. Différentes espèces d’arbres y sont plantées parmi lesquelles, le caféier, le roucou, le cacaoyer... Vous apercevrez, au détour d’un chemin la cabosse, le fruit du cacaoyer qui pousse à même le tronc de cet arbre et qui est d’une couleur surprenante. Les différentes étapes de la fabrication sont reproduites (fermentation, séchage torréfaction...).
  La visite s’achève par un commentaire instructif sur la fabrication de la pâte de cacao et une dégustation de chocolat des îles en pur cacao. Une boutique propose des produits 100 % cacao de fabrication artisanale : des chocolats fins, des punchs, des tablettes de chocolat, du beurre de cacao ainsi que des gâteaux.
</p>
