<h4 align='center'>Jour 7</h4>
<br>
<b>TROIS RIVIERES<br>
BASSE TERRE BOUILLANTE<br>
RETOUR par la Route de la Traversée.<br><br>
<div align='center'>
      <%= image_tag('images_visites/cascade_ecrevisses.jpg', :width => '200px') %>
</div>
</b>