<br><h4 align='center'>Jour 6</h4>

<p>
  <b>STE ANNE</b> : Le Marché tous les jours le long de la plage
  <br>
  <ul>
    <li>Village artisanal</li>
    <li>Plage de la Caravelle</li>
    <li>Plage du bourg</li>
    <li>Boulevard maritime</li>
  </ul>
</p>

<div class='row'>
<p>
  <div class='span3'>
  <b>ST FRANCOIS</b> :
  La Pointe des Châteaux : La côte est battue par l'Océan. <br><br>
  Montez au calvaire le Point de vue est magnifique
  </div>
  <div class='span2'>
    <div align='center'>
      <%= light_image_tag('images_visites/Pointe_des_Chateaux.jpg', :width => '200px') %>
    </div>
  </div>
</p>
</div>