<p>
  <div class='row'>
    <div class='span3'>
      <b>LES SAINTES</b><br>
      Starting at TROIS RIVIERES <br><br>
      Regarded as having one of the most beautiful bays in the world (Terre-de-haut)
    </div>
    <div class='span2'>
      <div align='center'>
          <%= light_image_tag('images_visites/Les_saintes.jpg', :width => '200px') %>
        </div>
    </div>
  </div>
  <br><br>
  <ul>
  <li>Visit the island in small shuttle (about 1 hour)</li>
  <li>Visit the Fort Napoleon (about 1 hour)</li>
  <li>Creole meal</li>
  <li>Swimming</li>
  </ul>
</p>