<h4 align='center'>Jour 9</h4>
<p> 
	<b>PETIT BOURG :</b><br>
	<div class='span3'>
    	<b>Visite du Domaine de Valombreuse</b>:<br>
    	10 € l’entrée (par personne).<br>
    	Il s'agit d'un parc au cœur de la forêt tropicale.
    	<br>
  	</div>
  	<div class='span2'>
		<div align='center'>
      		<%= image_tag('images_visites/valombreuse_cascade.jpg', :width => '200px') %>
    	</div>
  	</div><br><br><br><br><br><br><br><br><br>
  	
	<div class='span3'>
    	<b>Le saut de la Lézarde</b><br>
    	(fermé à ce jour) Le bassin est interdit d'accès par un arrêté municipal.
		Un partenariat entre le Parc National, l'ONF, la municipalité de Petit-Bourg et le Palmaretum va permettre la réouverture du site.
		Une nouvelle trace va être aménagée dans le parc de 4000 m2 du gîte le Palmaretum et permettra ainsi d'accéder à la forêt et au Saut de la Lézarde moyennant un droit d'accès.
  	</div>
  	<div class='span2'>
		<div align='center'>
      		<%= image_tag('images_visites/saut_lezarde.jpg', :width => '200px') %>
    	</div>
  	</div><br><br><br><br><br><br><br><br><br><br><br><br><br>

	<b>Retour sur Gosier </b><br>
	<div class='span3'>
    	<b>Visite de l'AQUARIUM à GOSIER :</b><br>
    	Ouvert tous les jours de 9h à 19h. La visite dure environ 45 minutes. Tarifs : 9 € pour les adultes et 6 € pour les enfants de moins de 12 ans, gratuit pour les moins de 5 ans. Possibilité d'acquérir un "Pass nature" à 20 € qui donne accès à une entrée à l'Aquarium, au Parc des Mamelles et aux Chutes du Carbet.
    	<br>
  	</div>
  	<div class='span2'>
		<div align='center'>
      		<%= image_tag('images_visites/aquarium.jpg', :width => '200px') %>
    	</div>
  	</div><br><br><br><br><br><br><br><br><br><br>
Installé depuis 23 ans maintenant, cet aquarium est reconnu comme le plus grand aquarium des Antilles et le 4e de France. Il permet de découvrir la richesse de la faune marine de la Caraïbe par le biais de 35 bassins de plus de 450 000 litres d’eau de mer au total où sont présentés les différents biotopes de la Guadeloupe. Une façon ludique d’avoir accès aux profondeurs de nos fonds sous-marins et d’en comprendre le fragile équilibre. La barrière de corail y tient bien évidemment une place privilégiée, mais la mangrove, les fonds sableux et les abysses y sont également présentés avec les poissons, invertébrés et plantes qui les peuplent.
Des points vidéo et des panneaux pédagogiques accompagnent la visite. Le bassin à requins de 250 000 litres des requins gris, deux requins vaches et une raie pastenaque. Une visite qui allie détente et pédagogie, et les enfants sont les bienvenus. Chaque enfant reçoit lors de sa visite un livret-jeux en cadeau.
L’aquarium, en plus des exhibitions de requins, piranhas, méduses, tortues et corail luminescent, dispose d’une exposition sur les tortues marines. Il propose des audioguides qui permettent, en plus d’un fonctionnement normal, de se connecter aux appareils auditifs des malentendants.
L’aquarium abrite également le centre de soins des tortues marines de Guadeloupe qui œuvre pour la préservation de l’espèce. L’Association KARET est un centre de soins de tortues marines qui soigne et relâche les tortues blessées, héberge les tortues saisies par les administrations et veille à l’application des textes. Etroitement lié à l’association KARET, l’Aquarium de la Guadeloupe joue un rôle majeur dans ce programme de protection, lancé en 1999 sur l’ensemble de l’archipel de la Guadeloupe, puisqu’il finance avec la DIREN (direction régionale de l’Environnement) ce centre de soins et rend accessible à tous, par des panneaux pédagogiques, l’écologie des tortues marines www.tortuesmarinesguadeloupe.org - www.guadeloupe.ecologie.gouv.fr
Véritable outil pédagogique, l'aquarium propose diverses activités accessibles aux familles notamment l'écotour : une demi- journée de promenade sous-marine dans le Grand Cul de Sac est proposée à la rencontre des animaux sous-marins du lagon. Ces excursions ouvertes même aux non nageurs sont encadrées par des moniteurs diplômés et formés à la biologie marine ; les stages de découverte écologique : chaque stage comporte une approche théorique en salle de travaux pratiques, une visite thématique de l’Aquarium et une sortie découverte en mer ; la dernière animation proposée, et non des moindres, vous permet de dormir avec les requins : le soir venu, vous assisterez au ballet incessant des squales jusqu’à ce que vos yeux se ferment, apaisés par la beauté et le silence des fonds marins. Au réveil, les requins seront nourris devant vos yeux, avant de pouvoir savourer votre petit déjeuner au milieu des poissons tropicaux.<br><br>
<b>Ensuite Baignade à La Plage du Gosier</b>
</p>
