<h4 align='center'>Jour 2</h4>
<p>
  <b>SAINTE ROSE :</b><br>
  Si vous arrivez de bonne heure le matin, vous pourrez voir le retour des pêcheurs sur le port.
</p>


<p>
  <div class='span3'>
    <b>Jardin Créole</b>: Écomusée de Guadeloupe<br>
    Ecomusée (Visite guidée à 10h) Ouvert du Mardi au Dimanche de 9h à 16h30.
    Possibilité de se restaurer sur place – Très bon rapport Qualité/Prix
    <br><br>
  </div>
  <div class='span2'>
    <div align='center'>
      <%= image_tag('images_visites/Jardin_creole_st_rose.jpg', :width => '200px') %>
    </div>
  </div>
  Un fascinant arboretum offrant une riche collection d’espèces tropicales, dont certaines en voie de disparition, tels les vanilliers, canneliers, 
  muscadiers, poivriers et tant d’autres. Une table d’hôtes sur place permet de conjuguer la visite avec la gastronomie locale préparée par le propriétaire, à partir 
  des produits du jardin bien sûr. Jocelyn se fera également un plaisir de vous expliquer comment ces plantes étaient cultivées par ses ancêtres.
  Ce site est maintenant un écomusée, conservatoire de plantes médicinales bien structuré avec une partie historique où sont reproduites différentes scènes 
  de la vie quotidienne d’autrefois, mais également une « Allée de la civilisation caribéenne » un parcours historique allant de l'espagnol Christophe Colomb, aux antillo-syrio-libanais 
  en passant par les amérindiens, les colons, les africains, les antillais, les indiens. 
  Jus de fruits frais excellent.
  Jocelin est un passionné et essayera de vous transmettre son savoir sur les plantes, les fruits et les traditions.
</p>

<p>
  <b>DESHAIES : </b><br>
  <div class='span3'>
    <b>Jardin Botanique</b>:<br>
    Ouvert tous les jours de 9h à 17h30. <br>
    VENTE DE BILLETS A LA RECEPTION
    <br><br>
  </div>
  <div class='span2'>
    <div align='center'>
      <%= image_tag('images_visites/Jardin Botanique.jpg', :width => '200px') %>
    </div>
  </div>
  Ce magnifique jardin botanique et animalier a été aménagé dans le cadre d’une propriété de 5 ha ayant appartenu à Coluche. Le circuit complet dure environ 1 heure 30. 
  Vous découvrirez à travers votre promenade toutes les plantes des tropiques : bougainvilliers, hibiscus, balisiers, une profusion d’orchidées, des espèces gigantesques comme les baobabs, les fromagers, les palmiers… Le parc est agrémenté d’un bassin aux flamants roses, d’une volière de loris, d’un étang de nénuphars, d’un village d’aras (perroquets), d’un enclos à cabris et d’une aire de jeux pour les enfants. A l’entrée, la distribution de graines aux carpes japonaises est un véritable spectacle tant leur voracité est impressionnante. A la sortie du parc, le snack 
  Le Manguier propose une restauration rapide et des rafraîchissements tandis que la boutique dispose d’une gamme de produits locaux et de souvenirs. <br>
  Vous pourrez vous baigner sur les nombreuses plages, mais attention aux rouleaux. Certaines plages sont interdites à la baignade, respectez bien les panneaux.
  Pour rentrer, revenez par la Route de La Traversée.
</p>