<br><h4 align='center'>Jour 3</h4>
<p>
  <b>MORNE A L'EAU :</b>
  <br>
  Parcourir le cimetière.
  <br><br>
  <b>PETIT CANAL</b>
  <br>
  Parc paysager de Petit-Canal.
  <br><br>
  
  <b>PORT LOUIS</b>
  <br>

  <div class='row'>
    <div class='span3'>
      <b>Visite du Pays de la Canne Domaine de Beauport</b>:<br>
      Ouvert du mardi au dimanche de 9h à 17h.
      <br>
    </div>
    <div class='span2'>
      <div align='center'>
        <%= light_image_tag('images_visites/beauport-pays-de-la-canne.jpg', :width => '200px') %>
      </div>
      <br>
    </div>
  </div>

  En 1813, la sucrerie, qui comprend aussi l'habitation, est rachetée par Guillaume Rullier-Beauport qui lui donne son nom. Beauport s’étend alors sur 96 ha et compte 70 esclaves. La plupart des grands propriétaires font faillite, victimes de la Révolution française et de l’effondrement du système esclavagiste. Le Dr Armand Souques en devient propriétaire en 1836. Vers 1840, la Guadeloupe compte 620 habitations-sucreries dont 26 constituent l’actuel Beauport. La famille Souques domine l’activité sucrière en Guadeloupe pendant près d’un siècle mais, croulant sous les dettes, elle vendra le domaine en 1901. Le domaine comptera plusieurs propriétaires jusqu’en 1990, date à laquelle il ferme définitivement ses portes.
  C’est ainsi que le conseil général et la Semag sont à l’initiative de la rénovation de Beauport. Le domaine a été aménagé pour redonner vie à une partie de la culture guadeloupéenne depuis 2004. Une escapade passionnante pour ceux qui s’intéressent à la canne à sucre. Une balade de 50 minutes aller-retour à travers le domaine dans le train Flèch Kan ayant servi à acheminer la canne, un espace Visiokann où l’on découvre la mémoire de l’usine avec la maquette du site industriel, des photos, des documents, un petit lexique du sucre qui détaille toutes les étapes de la fabrication du sucre et deux films. Boutique et restaurant sur place.
  <br><br>
  Baignade après la Plage du Souffleur aller tout au bout
  <br><br>
  Poursuivre sur <b>ANSE BERTRAND</b> et la Pointe de la Grande Vigie.<br>
  Point de vue magnifique.
</p>


