<h4 align='center'>Jour 1</h4>
<P>
<b>Le matin</b><br>
  <div class='span3'>
      <b>POINTE À PITRE : Le marché et les boutiques de la rue Fréseault</b>:<br>
    </div>
    <div class='span2'>
    <div align='center'>
          <%= image_tag('images_visites/marche_pap.jpg', :width => '200px') %>
      </div>
    </div><br>
Vous ne sauriez manquer le marché couvert Saint-Antoine (à l’angle des rues Thiers et Frébault), fort animé. Autrefois place Royale puis place de la Liberté, la place du Marché est la plus ancienne de Pointe-à-Pitre. Appelé aussi « Marché à la viande », le marché Saint-Antoine accueille au début des années 1960 les bouchers sur des étals bétonnés, construits au fond de la halle du marché. Les halles métalliques datent de la fin du XIXe siècle. C’est là que, dans une animation bruyante et colorée, vous sentez battre le cœur de la ville. Les fruits (goyaves, ananas, mangues, bananes jaunes et vertes...) y sont des promesses permanentes de douceur caraïbe. Fleurs, corbeilles d’épices, paniers artisanaux se mélangent gracieusement pour créer une ambiance exotique.
Les marchands sont efficaces et savent mettre en valeur leurs produits, certains usant même de stratagèmes bon enfant pour vous attendrir : il est assez difficile de concevoir que vous rentriez les mains vides. Le long du port de débarquement, se trouve également un beau marché de fruits et légumes et de vêtements.<br><br>

<b>L'après-midi</b><br>
  <div class='span3'>
      <b>Musée St John Perse</b>:<br>
      Fermé le dimanche et les jours fériés. Ouvert de 9h à 17h du lundi au vendredi et de 8h30 à 12h30 le samedi. Prix adultes 2,50 €, enfants à partir de 6 ans 1,50 €, étudiants 1,50 €. Visite libre en permanence, visite guidée sur demande.
    </div>
    <div class='span2'>
    <div align='center'>
          <%= image_tag('images_visites/musee_st_john.jpg', :width => '200px') %>
      </div>
    </div>
    <br><br><br><br><br><br><br><br><br>
Il s’agit de l’ancienne villa Souques-Pagès occupée à l’époque par les directeurs de l’usine Darboussier. Inauguré en 1987, à l’occasion du centenaire de la naissance de Saint-John Perse, ce musée célèbre désormais la mémoire du poète et diplomate Alexis Saint-Leger (dit Saint-John Perse) né à Pointe-à-Pitre et qui a reçu le Prix Nobel de littérature en 1960.
Soigneusement entretenue, cette demeure de la fin du XIXe siècle, à structure métallique, a beaucoup de cachet. La bâtisse est classée Monument historique. Le rez-de-chaussée, consacré à la tradition créole, reconstitue un intérieur du siècle dernier et comporte les collections permanentes, synthétisant le parcours biographique du poète, avec une insistance notable sur la période de l’enfance en Guadeloupe. Au premier étage, un espace est réservé aux expositions temporaires dont le programme est à retirer à l’accueil. Les combles accueillent les œuvres des illustrateurs de Saint-John Perse. Une bibliothèque et une vidéothèque complètent le musée pour une meilleure initiation du visiteur à l’œuvre du poète.
</p>