<br><h4 align='center'>Jour 3</h4>
<p>
  <b>MORNE A L'EAU :</b>
  <br>
  <ul>
    <li>Vieux-Bourg, port de pêche</li>
    <li>Plage de Baloin</li>
    <li>Cimetière en noir et blanc</li>
  </ul>
</p>
<br>
<p>
  <b>PETIT CANAL</b>
  <br>
  <ul>
    <li>Parc paysager (découverte de la fLore, plantes médicinales).</li>
    <li>Marches des Esclaves</li>
  </ul>
</p>  
<br>
<p>
  <b>PORT LOUIS</b>
  <br>

  <div class='row'>
    <div class='span3'>
      <ul>
      <li>Plage du Souffleur</li>
      <li><b>Visite du Pays de la Canne Beauport</b>:<br>
      Ouvert du mardi au dimanche de 9h à 17h.</li>
      
      </ul>
    </div>
    <div class='span2'>
      <div align='center'>
        <%= light_image_tag('images_visites/beauport-pays-de-la-canne.jpg', :width => '200px') %>
      </div>
      <br>
    </div>
  </div>
  <div style='text-align:justify'>
    En 1813, la sucrerie, qui comprend aussi l'habitation, est rachetée par Guillaume Rullier-Beauport qui lui donne son nom. Beauport s’étend alors sur 96 ha et compte 70 esclaves. La plupart des grands propriétaires font faillite, victimes de la Révolution française et de l’effondrement du système esclavagiste. Le Dr Armand Souques en devient propriétaire en 1836. Vers 1840, la Guadeloupe compte 620 habitations-sucreries dont 26 constituent l’actuel Beauport. La famille Souques domine l’activité sucrière en Guadeloupe pendant près d’un siècle mais, croulant sous les dettes, elle vendra le domaine en 1901. Le domaine comptera plusieurs propriétaires jusqu’en 1990, date à laquelle il ferme définitivement ses portes.
    C’est ainsi que le conseil général et la Semag sont à l’initiative de la rénovation de Beauport. Le domaine a été aménagé pour redonner vie à une partie de la culture guadeloupéenne depuis 2004. Une escapade passionnante pour ceux qui s’intéressent à la canne à sucre. Une balade de 50 minutes aller-retour à travers le domaine dans le train Flèch Kan ayant servi à acheminer la canne, un espace Visiokann où l’on découvre la mémoire de l’usine avec la maquette du site industriel, des photos, des documents, un petit lexique du sucre qui détaille toutes les étapes de la fabrication du sucre et deux films. Boutique et restaurant sur place.
  </div>
</p>  
<br>
<p>
  <b>ANSE BERTRAND</b>
  <br>
  <ul>
    <li>Plage de la Chapelle</li>
    <li>Pointe de la Grande-Vigie<br>Point de vue magnifique.</li>
    <li>Porte-d'Enfer - Trou à Man Coco <br>Nombreux vestiges de moulins sur la route témoignant de l'ère sucrière.</li>
  </ul>
</p>
<p>
  <b>LE MOULE</b> :<br>
  <ul>
    <li>Boulevard maritime</li>
    <li>Usine - distillerie Gardel</li>
    <li>Musée Edgar Clerc (ère pré-colombienne)</li>
    <li>Activités nautiques (surf, natation en mer, stand-up paddle)</li>
  </ul>
  Commune en plein développement. Beaucoup de commerces, belle promenade sur le front de mer. La mer a de nombreux rouleaux qui font la joie des surfeurs. Visitez la Distillerie DAMOISEAU.
</p>



