<br><h4 align='center'>Jour 4</h4>
<p>
  <b>Une journée sur un voilier à Petite Terre " Réserve Naturelle "</b><br>

  Archipel de 2 îles désertes (Terre de Haut et Terre de Bas) situé à 20 Km au Sud Est de Saint-François, il est géré par l’ONF et dépend de la Désirade.
  Petite Terre appartenait à une famille de notaires célèbres expropriée pour cause d’utilité publique.
  Réputée pour la richesse de ces fonds marins, elle a pour seuls habitants des iguanes, des crabes et des oiseaux. Elle a été déclarée réserve naturelle depuis 1994. La chasse et la pêche sont interdites et le phare du bout du monde est aujourd’hui un musé de la faune et la flore.
  Seuls 4 gardes de l’ONF résident à tour de rôle sur l’île.

  <ul>
    <li>
      Départ de ST FRANCOIS avec Uhaina à 7h15 <br>
      <!-- tarifs : 80 € par personnes -->
      Repas du midi : Barbecue sur la plage.
      Masque et tuba fournis pour la baignade
    </li>
    <li>
      Privilèges Croisières  à 7h15 <br>
      <!-- – tarifs : 90 € par personnes -->
      Repas du midi à bord du bateau
      Masques et tubas fournis pour la baignade.
    </li>
  </ul>
</p>
<div align='center'>
  <%= light_image_tag('images_visites/Petite_terre.jpg', :width => '200px') %>
</div>
