<p>
  <div class='row'>
    <div class='span3'>
      <b>LES SAINTES</b><br>
      Au départ de TROIS RIVIERES <br><br>
      Considérée comme ayant une des plus belle baies au monde (Terre-de-haut)
    </div>
    <div class='span2'>
      <div align='center'>
          <%= light_image_tag('images_visites/Les_saintes.jpg', :width => '200px') %>
        </div>
    </div>
  </div>
  <br><br>
  <ul>
  <li>Visite de l'île en petite navette (1h environ)</li>
  <li>Visite du Fort Napoléon (1h environ)</li>
  <li>Repas Créole</li>
  <li>Baignade</li>
  </ul>
</p>
