<div style='overflow:hidden'>
  <h3 align='center' style='color:orange'>
  	<font face="cursive">
  		Evènements - Groupes - Fêtes
  	</font>
  </h3>

  <span style="text-align:justify">
    Nous restaurons les groupes allant jusqu'à 120 personnes. Ils apprécient tout particulièrement nos soirées Langoustes et Barbecue.
    Pour leurs cocktails ils peuvent se retrouver au bord de la piscine. Nous organisons toutes réceptions : mariages, baptêmes, anniversaires. repris d'affaires...
    A l' occasion des différentes fêtes de l'année, Pâques, Noël, Nouvel An. Saint Valentin et Fêtes des Mères etc...
    <br><%= image_tag('images_restau/bateme.jpg',class: "img-polaroid", width: '100%') %><br>
    Pour vos réunions la TABLE de BACCHUS vous propose ses repas d'affaires.
    Nous proposons des repas gastronomiques dans une ambiance décorée.
    Pour notre clientèle de l'hôtel nous mettons notre service de plats à emporter à disposition.
    L'équipe du restaurant vous reçoit dans un cadre sympathique et l'atmosphère n'est que sourire.
  </span>
</div>