<div class='row' style='overflow:hidden'>
  <div class='span3'>
    <h3 style='color:orange'>Poissons et Crustacés</h3>
    <ul>
      <li>Vivaneau entier grillé sauce maison</li>
      <li>Duo de ouassous & crevettes persillées flambé au cognac</li>
      <li>Langouste entière des caraïbes <br>(400 / 450g environ)</li>
    </ul>
    <h3 style='color:orange'>Viandes</h3>
    <ul>
      <li>Vivaneau entier grillé sauce maison</li>
      <li>Duo de ouassous & crevettes persillées flambé au cognac</li>
      <li>Langouste entière des caraïbes <br>(400 / 450g environ)</li>
    </ul>
  </div>

  <div class='span5 '>
    <br>
    <%= image_tag('images_restau/diner_pour_deux.jpg', class: "img-polaroid", width: '100%') %>
  </div>
</div>
<!-- <div class='row'> -->
  <!-- <div align='center'> -->
  <!-- </div> -->
<!-- </div> -->
<div class='row'>
  <div class='span4'>
    <h3 style='color:orange'>Fromage</h3>
    <ul>
      <li>Assiette de fromages</li>
      <li>Chèvre chaud au miel pays</li>
    </ul>
    <h3 style='color:orange'>Desserts</h3>
    <ul>
      <li>Flan Coco caramélisé fait maison</li>
      <li>Salade de fruits frais</li>
      <li>Fondant au chocolat</li>
      <li>Banane ou Ananas flambé au rhum</li>
      <li>Crème brûlée à la Vanille des îles faite maison</li>
    </ul>
  </div>

  <div class='span4'>
    <h3 style='color:orange'>Glaces</h3>
    <ul>
      <li>Sorbet & Crème glacée au choix<br>Mangue, fruit de la passion, cerise pays, citron vert, goyave, coco, vanille, rhum raisin, pistache, chocolat, fraise</li>
      <li>Colonel Antillais<br>Rhum, glace, citron vert</li>
      <li>Ananas Split<br>Glace vanille, ananas, chantilly, sirop d'ananas</li>
      <li>Coupe Bacchus<br>Salade de fruits, sorbet cerise</li>
      <li>Coupe Caraïbe<br>Ananas, glace fruit de la passion & mangue, chantilly</li>
      <li>Coupe Rouge Passion<br>Glace fraise, cerise, goyave, coulis, chantilly</li>
    </ul>
  </div>
</div>
