<!-- <h3 style='color:orange'>
  <font face="cursive">
  	Vins & Spiritueux
  </font>
</h3> -->
<span>
    La TABLE DE BACCHUS est très fière de sa grande carte des vins à des prix très raisonnables. 
    Nos vins couvrent une large gamme, et la plupart viennent directement de la propriété ou du Château.
</span>


<div class='row'>
  <div class='span3'>
    <h3 style='color:orange'>
      <font face="cursive">
        Vins Rouge
      </font>
    </h3>
    <ul>
      <li>Brouilly<br>Domaine Rolland - Ferraud 2011</li>
      <li>St Nicolas de Bourgueil<br>Le Puy Bel-Abord 2011</li>
      <li>Chinon<br>Les Roches cachées 2009</li>
    </ul>
  </div>
  <div class='span2'>
    <h3 style='color:orange'>
      <font face="cursive">
        Vins Blanc
      </font>
    </h3>
    <ul>
      <li>Cheverny<br><span style='color:grey'>Domaine du Salvard<br>2010</span></li>
      <li>Sincerite<br><span style='color:grey'>2011</span></li>
      <li>Sancerre<br><span style='color:grey'>"Les Caillotes"<br>2010</span></li>
    </ul>
  </div>
  <div class='span3'>
    <h3 style='color:orange'>
      <font face="cursive">
        Champagne
      </font>
    </h3>
    <ul>
      <li>Nicolas Feuillatte<br>Brut</li>
      <li>Mercier<br>Brut ou 1/2 Sec</li>
      <li>Moët & Chandon<br>Brut</li>
      <li>Laurent Perrier<br>Brut</li>
      <li>Demoiselle</li>
    </ul>
  </div>
</div>

<div class='row'>
  <div class='span3'>
    <h3 style='color:orange'>
      <font face="cursive">
        Cocktails avec alcool
      </font>
    </h3>
    <ul>
      <li>Planteur maison</li>
      <li>Pinacolada maison</li>
      <li>Punch Z'habitant</li>
      <li>Punch Flamboyant</li>
      <li>Americano</li>
      <li>Acapulko</li>
      <li>Martini Royal</li>
    </ul>
  </div>

  <div class='span2'>
    <h3 style='color:orange'>
      <font face="cursive">
        Rhumerie
      </font>
    </h3>
    <ul>
      <li>Ti' Punch Rhum Blanc</li>
      <li>Ti' Punch Rhum Vieux</li>
      <li>Ti' Punch Maison</li>
      <li>Cuba Libre Guadeloupéen</li>
    </ul>
  </div>
  <div class='span3'>
    <%= image_tag('images_restau/alcools_1.jpg',class: "img-polaroid", width: '100%') %>
  </div>
</div>

<div class='row'>
  <div class='span3'>
    <h3 style='color:orange'>
      <font face="cursive">
        Cocktails sans alcool
      </font>
    </h3>
    <ul>
      <li>Cocktail de jus frais du jour</li>
      <li>Jus de fruits locaux</li>
      <li>Baiser Doudou</li>
      <li>Madras</li>
      <li>Tropique</li>
    </ul>
  </div>  
  <div class='span2'><%= image_tag('images_restau/coctail_3.jpg',class: "img-polaroid", width: '100%') %></div>
  <div class='span3'>
    <h3 style='color:orange'>
      <font face="cursive">
        Bières
      </font>
    </h3>
    <ul>
      <li>Corsaire</li>
      <li>Carib</li>
      <li>Heineken</li>
    </ul>
  </div>  
</div>
<br><br>