<br>

<h3 align='center' style='color:orange'>
  <font face="cursive">
    Vous organisez un séminaire ?
  </font>
</h3>

<br>

<h5 align='left'>
  <span class="span7" style="text-align:center">
    <div class='well'>
      L'hôtel dispose d'un espace de réunion spécialement aménagé. <br>
      Cette salle peut accueillir jusqu'à 60 personnes et est équipée de : <br><br>
      * WIFI <br><br>
      * Un Paper-board <br><br>
      * Un Tableau blanc <br>
    </div>
  </span>
</h5>

<h5 align='right'>
  <span class="span4" style="text-align:center">
    <div class='well'>
      Pour plus d'informations, nous vous invitons à contacter notre service commercial. <br> <br>
      Tel : 0590 84  36 43 <br>
      ou  0690 39 35 00 <br><br>
      Mail : commercial@lamaisoncreole.com
    </div>
  </span>
</h5>

<span class="span11" style="text-align:center">
  <div class='well'>
    <%= image_tag('images_hotel/theatre.png', :width => '23%', class: "img-polaroid") %>
    <%= image_tag('images_hotel/u.png', :width => '23%', class: "img-polaroid") %>
    <%= image_tag('images_hotel/conference.png', :width => '23%', class: "img-polaroid") %>
    <%= image_tag('images_hotel/ecoliere.png', :width => '23%', class: "img-polaroid") %>
  </div>
</span>


<h5 align='center'>
  <span class="span11" style="text-align:center">
    <div class='well'>
      Pour vos journées d'étude ou réunion de travail, l'hôtel propose : <br> <br>
      * Un Vidéo-projecteur <br>
      * La 'Pause matin' <br>
      * La 'Pause après-midi' <br>
    </div>
  </span>
</h5>

 
